numpy @ file:///C:/ci/numpy_and_numpy_base_1649782970434/work
numpydoc @ file:///opt/conda/conda-bld/numpydoc_1643788541039/work
pandas @ file:///C:/ci/pandas_1650373458095/work
pickles==0.1.1
streamlit==1.19.0
streamlit-aggrid==0.3.4.post3
scikit-image @ file:///C:/ci/scikit-image_1648214340990/work
scikit-learn @ file:///C:/ci/scikit-learn_1642617276183/work
scikit-learn-intelex==2021.20220215.102710
